* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fundocomputador2.png);
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
}

header {
  width: 100%;
  height: 7vh;
  background-color: transparent;
}

.logo {
  position: relative;
  top: 15px;
}

.menu-content {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

.menu-content .list-itens {
  display: flex;
  list-style: none;
  gap: 5px;
}

.menu-content .list-itens a {
  position: relative;
  top: 15px;
  text-decoration: none;
  color: rgb(168, 168, 165);
  font-size: 15px;
  padding: 1.5rem;
  transform: 1ms ease-in;
  position: relative;
}

.menu-content .list-itens a:before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 1px;
  background-color: rgb(255, 94, 0);
  transition: all 1.5s ease;
}

.menu-content .list-itens a:hover::before {
  width: 100%;
}

main {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primeiro-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(194, 189, 189, 0.575);
  width: 850px;
  font-size: 50px;
  text-align: center;
}


button {
  position: relative;
  top: 60px;
  padding: 10px 30px;
  margin: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out .27s;
}

button:hover {
  background: #f03d06c0;
}

.center {
  text-align: center;
}