@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-image: url(../img/fundocomputador.jpg);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header .logo img {
  width: auto;
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 60px;

}

button {
  padding: 15px 30px;
  margin: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out .27s;
}

button:hover {
  background: #f03d06c0;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(68, 63, 63);
  height: 25px;
  border-radius: 40px;
  padding: 10px;

}

.search-btn {
  color: #f1c80ec0;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: transparent;
  outline: none;
  float: left;
  padding: none;
  color: #f74b16c0;
  font-size: 20px;
  transition: 0.5s;
  line-height: 20px;
  width: 240px;
}