* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fundocomputador.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100VH;
}


h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(250, 251, 252);
  text-align: center;
  margin: 20px;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 700px;
  height: 600px;
  background: rgba(29, 28, 28, 0.527);
  border-radius: 20%;
  box-shadow: 1px 2px 10px black, 3px 6px 20px black;
  padding: 50px 20px;
}


.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(29, 28, 28);
  box-shadow: 1px 2px 3px black, 1px 2px 3px black;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.search-btn {
  color: #f1c80ec0;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: transparent;
  outline: none;
  float: left;
  padding: none;
  color: #f74b16c0;
  font-size: 20px;
  transition: 0.5s;
  line-height: 10px;
  width: 240px;
}

button {
  padding: 10px 30px;
  margin: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out .27s;
}

button:hover {
  background: #f03d06c0;
}